body{
    background-color: #FDD752;
/* min-height: 3000px; */
}

.jumbotron{
    padding-top: 6rem;
    /* background-color: #FDD752;     */
}

#galeri{
    background-color: #FDD752; 
}

#tentang{
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
}

section{
    padding-top: 1rem;
}

.icon1{
    margin-left: 10rem;
    margin-right: 10rem;
    margin-top: 1rem;
    justify-content: center;
}

footer{
    margin-top: 10rem;
    display: block;
}